@import '@/assets/responsiveVariables.scss';

.board {
  height: calc(100vh - 97px);
  width: 100%;

  &.dark {
    background-color: var(--color-very-dark-grey);
  }
  @media (max-width: $tablet-ref) {
    min-height: calc(100vh - 81px);
  }

  @media (max-width: $mobile-ref) {
    min-height: calc(100vh - 64px);
  }
}
