.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    height: 48px;
    width: 100%;

    background-color: var(--color-light-grey);
    border-radius: var(--border-radius);

    &.dark {
        background-color: var(--color-very-dark-grey);
    }
}

